SECRET_KEY=THIS_IS_NOT_A_GOOD_SECRET
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, .localhost, .herokuapp.com
EMAIL_HOST_USER=contato@100aedes.com.br
EMAIL_HOST_PASSWORD=REQUIRED_PASSWORD
API_URL=http://127.0.0.1:8000/api/v1/reports/
API_TOKEN=API_TOKEN_FRONTEND
APP_ENV=development