#idea {
  @extend .container;

  .video {
    @extend .col-xs-12;
    @extend .embed-responsive, .embed-responsive-16by9;
    iframe {
      @extend .embed-responsive-item;
    }
  }

  .about-powers {
    .description {
      @extend .col-xs-12;
      p {
        font-size: 1.25rem;
      }
    }

    .characteristics {
      @extend .card-deck-wrapper, .card-deck;
      padding: 3.75rem 1rem;
      .character {
        @extend .card;
        padding-bottom: 9rem;
        overflow: hidden;
        background-color: #393E46;
        .characteristics-header {
          @extend .card-header, .text-xs-center;
          background-color: #222831;

          h4 {
            color: #EEEEEE;
          }

          h6 {
            color: #FF5722;
          }
        }

        .characteristics-item {
          @extend .card-block;
          padding: 0.75rem 1.25rem;
          border-radius: 0 0 0.25rem 0.25rem;
          color: #EEEEEE;

          h4 {
            @extend .card-title;
          }

          h6 {
            @extend .text-muted;
          }

          p {
            @extend .card-text;
          }

        }

        .characteristics-footer {
          @extend .card-footer, .text-xs-center;
          border: 0;
          background-color: #393E46;
          color: #EEEEEE;
          position: absolute;
          bottom: 0;
          width: 100%;
          p {
            font-size: 1rem;
            font-weight: bold;
          }

          button {
            @extend .btn-lg;
            padding: 0.75rem 2.5rem;
            background-color: #FF5722;
            color: #EEEEEE;
            &:hover, &:focus, &:active {
              color: darken(#EEEEEE, 5%);
            }
          }
        }
      }

    }
  }
}

